@import '~antd/dist/antd.css';

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark-bg {
  background-color: rgb(51, 51, 51) !important;
}

.layoutContent {
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(246, 246, 246);
}

.ant-layout-sider {
  min-height: 100vh;
  background-color: #ffffff;
}

.gallery-container {
  padding: 10px 0px 30px 0px;
}

.section-head {
  padding: 15px 0px 10px 0px;
}

.section-header *, .section-footer * {
  color: #ffffff;
  text-align: center;
}

.section-header h1, .section-footer h2 {
  font-weight: 600;
}

.pluginCard {
  border: #666666;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pluginCard * {
  background-color: rgb(68, 68, 68);
  color: #ffffff;
  flex: auto;
}

.pluginCard:hover * {
  background-color: #ffffff;
}

.pluginCard > .ant-card-head {
  border-bottom: 0px; 
}

.pluginCard:hover > .ant-card-head * {
  color: #f5222d;
}

.pluginCard:hover > .ant-card-body * {
  color: #666666; 
}

.pluginCard > .ant-card-actions {
  border-top: none; 
}

.pluginCard:hover .pluginCard-btn, footerBtn:hover {
  background-color: #f5222d !important;
}

.pluginCard-btn > span {
  color: #f5222d;
}

.pluginCard:hover .pluginCard-btn > span, footerBtn:hover > span {
  background-color: #f5222d !important;
  color: #ffffff;
}

.ant-card-body * {
  height: 100%;
}

.ant-row-flex {
  padding-bottom: 25px;
}

.stack-card .ant-card-meta-title {
  white-space: normal;
}

.stack-card {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  width: 200px;
  background: #ffffff;
  margin-bottom: 5px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

.stack-card img {
  max-width:100%;
  max-height:100%;
}

.user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}

.gridHeader {
  padding-top: 30px;
}

.gridHeader input {
  border: none;
  border-radius: 0px;
  border-color: none;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1)
}

.gridHeader button {
  border-radius: 0px;
  background-color: #883996;
}

.gridHeader h1 {
  color: #883996;
  font-weight: 700;
  font-size: 2em;
}

.gridHeader p {
  font-size: 1.25rem;
  font-style: italic;
}

.gridHeader .ant-divider-horizontal {
  background-color: #883996;
  width: 100px;
  min-width: unset;
  margin: 30px auto;
}

.grid-item {
  padding: 3px;
}

.tagContainer {
  display: block;
  text-align: center;
}

.tagContainer .ant-divider-horizontal {
  margin: 10px 0;
}

.pluginTag {
  padding: 5px;
  background-color: #883996;
  color: #ffffff;
  text-decoration: none;
  font-size: .9em;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
}

.pluginTag:hover {
  color: #ffffff;
}

.pluginInfo a {
  display: block;
  text-decoration: none;
  color: #444444;
}

.pluginInfo .creator {
  display: block;
  color: #883996;
  font-size: .8em;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
