@import '~antd/dist/antd.css';

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark-bg {
  background-color: rgb(51, 51, 51) !important;
}

.ant-menu {
  z-index: 10;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

.layoutContent {
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(246, 246, 246);
}

.ant-layout-sider {
  min-height: 100vh;
  background-color: #ffffff;
}

.gallery-container {
  padding: 10px 0px 30px 0px;
}

.section-head {
  padding: 15px 0px 10px 0px;
}

.section-header *, .section-footer * {
  color: #ffffff;
  text-align: center;
}

.section-header h1, .section-footer h2 {
  font-weight: 600;
}

.pluginCard {
  border: #666666;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pluginCard * {
  background-color: rgb(68, 68, 68);
  color: #ffffff;
  flex: auto;
}

.pluginCard:hover * {
  background-color: #ffffff;
}

.pluginCard > .ant-card-head {
  border-bottom: 0px; 
}

.pluginCard:hover > .ant-card-head * {
  color: #f5222d;
}

.pluginCard:hover > .ant-card-body * {
  color: #666666; 
}

.pluginCard > .ant-card-actions {
  border-top: none; 
}

.pluginCard:hover .pluginCard-btn, footerBtn:hover {
  background-color: #f5222d !important;
}

.pluginCard-btn > span {
  color: #f5222d;
}

.pluginCard:hover .pluginCard-btn > span, footerBtn:hover > span {
  background-color: #f5222d !important;
  color: #ffffff;
}

.ant-card-body * {
  height: 100%;
}

.ant-row-flex {
  padding-bottom: 25px;
}

.ant-input-search button {
  border-color: #883996;
}

.ant-input-search button:hover {
  border-color: #883996;
  background-color: #883996;
}

.stack-card .ant-card-meta-title {
  white-space: normal;
}

.stack-card {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  width: 200px;
  background: #ffffff;
  margin-bottom: 5px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

.stack-card img {
  max-width:100%;
  max-height:100%;
}

.user-photo {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
}

.user-profile {
	text-decoration: none;
	position: fixed;
  bottom: 20px;
  right: 40px;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 50px !important;
  background-color: black;
  transition: width .55s;
  -webkit-transition: width .55s;
  overflow: hidden
}

.user-profile:hover {
  width: 150px !important;
}

.user-profile:hover .logout{
  opacity: .9;
}

.user-profile {
  text-decoration: none;
}

.container {
  position: relative;
  border-radius: 5px;
  padding: 20px 0 30px 0;
} 

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
  color: white;
}

/* add appropriate colors to fb, github and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.github {
  background-color: #24292e;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 6px 10px;
}

.gridHeader {
  padding-top: 30px;
}

.gridHeader input {
  border: none;
  border-radius: 0px;
  border-color: none;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1)
}

.gridHeader button {
  border-radius: 0px;
  background-color: #883996;
}

.gridHeader h1 {
  color: #883996;
  font-weight: 700;
  font-size: 2em;
}

.gridHeader p {
  font-size: 1.25rem;
  font-style: italic;
}

.gridHeader .ant-divider-horizontal {
  background-color: #883996;
  width: 100px;
  min-width: unset;
  margin: 30px auto;
}

.grid-item {
  padding: 3px;
}

.tagContainer {
  display: block;
  text-align: center;
}

.tagContainer .ant-divider-horizontal {
  margin: 10px 0;
}

.pluginTag {
  padding: 5px;
  background-color: #883996;
  color: #ffffff;
  text-decoration: none;
  font-size: .9em;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
}

.pluginTag:hover {
  color: #ffffff;
}

.pluginInfo a {
  display: block;
  text-decoration: none;
  color: #444444;
}

.pluginInfo .creator {
  display: block;
  color: #883996;
  font-size: .8em;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

.pluginDetails {
  background-color: #ffffff;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 60px auto;
  padding: 15px;
}

.pluginDetails h2 {
  color: #883996;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pluginDetails .description {
  white-space: pre-wrap;
  line-height: 1.5em;
}

.pluginDetails .pluginImg {
  max-width: 100%;
  max-height: 400px;
  display: block;
  clear: both;
  margin: 0 auto;
}

.pluginDetails .logo {
  float: right;
  margin: 20px;
}

.headerDetails {
  text-align: left;
  margin: 10px 0px 0px 0px;
  float: left;
}

.headerDetails p {
  font-weight: bold;
  margin-bottom: 0px;
}

.headerDetails a {
  text-decoration: none;
  font-size: 0.9em;
  color: #444444;
}

.description {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.pedalboard-count-container {
  vertical-align: middle;
  width: 65px;
  line-height: 10px;
  text-align: center;
  float: right;
}

.pedalboard-count {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin: 3px;
    background-color: #883996;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
}

.pedalboard-count:hover {
  color: #ffffff;
}

.pedalboard-count-text {
  font-size: 0.7em;
}

.load-more-row {
  height: 100px;
  line-height: 100px;
  bottom: 0;
  margin-top: 20px;
  width: 100%;
  position: fixed;

  display: block;
}

.load-more-button {
  border-color: #883996;
  background-color: #883996;
  color: #ffffff;
  line-height: 30px;
  width: 400px;
}

.load-more-button:hover {
  border-color: #883996;
  background-color: #883996;
}

.ant-form-item-children input:hover, .accountInputs > input:hover, .pluginSearchBar > input:hover {
  color: #000000 !important;
}

.uploadButton, .uploadButton:hover, .uploadButton:focus {
  border-color: #883996;
  background-color: #883996;
  color: #ffffff;
  position: absolute;
  right: 0;
  z-index: 999;
}

.ant-pagination-item-active, .ant-pagination-item:hover, .ant-pagination-next, .ant-pagination-prev,
.ant-pagination-next:hover, .ant-pagination-prev:hover, .ant-pagination-next:focus,
.ant-pagination-prev:focus, .ant-pagination-item-active:focus, .ant-select-selection:hover,
.ant-select-selection:focus {
  border-color: #883996;
}

.ant-pagination-item-active > a, .ant-pagination-item:hover > a, .ant-pagination-next > a,
.ant-pagination-prev > a, .ant-pagination-next > a:hover, .ant-pagination-prev:hover > a, 
.ant-pagination-next:focus > a, .ant-pagination-prev:focus > a, .ant-pagination-item-active:focus > a {
  color: #883996;
}

.actionButton, .actionButton:hover, .actionButton:focus {
  color: #883996;
  border-color: #883996;
}

.actionButton:hover {
  box-shadow: 0px 0px 6px 0px rgb(136,57,150, 0.8);
}

.tableImage {
  max-width: 100px;
  max-height: 64px;
}